:root {
	--wc-red: hsl(343, 81%, 75%);
	--wc-green: hsl(115, 54%, 76%);
	--wc-yellow: hsl(41, 86%, 83%);
	--bg-primary: #1e1e2e;
	--bg-secondary: #181825;
	--bg-tertiary: #6c7086;
	--bg-hover-light: hsla(232, 97%, 85%, 0.06);
	--bg-hover: hsla(232, 97%, 85%, 0.1);
	--bg-active: hsla(232, 97%, 85%, 0.15);
	--text-bright: #cdd6f4;
	--text-primary: #a6adc8;
	--text-secondary: #bac2de;
	--text-tertiary: #6c7086;
	--accent: hsl(232, 97%, 85%);
	--shadow: 0 0 4px hsla(0, 0%, 0%, 0.4);
	--roundness: 12px;
	--roundness-small: 8px;
	--roundness-tiny: 4px;
	--navbar-height: 56px;
	--sidebar-collapsed-width: 56px;
	--sidebar-width: 250px;
	--transition-duration: 0.2s;
	--transition-ease: ease-out;
}

tab-item * {
	--tab-surface: var(--bg-primary) !important;
	--tab-text: var(--text-primary) !important;
}

tab-item .background {
	bottom: 2px;
	top: 2px;
	left: 0;
	right: 0;
	border-radius: var(--roundness-small) !important;
	box-shadow: none !important;
	opacity: 1 !important;
}

tab-item:hover .background {
	background: var(--bg-hover);
}

tab-item:active .background {
	background: var(--bg-active);
}

tab-item.active .background {
	background: var(--bg-active);
}

tab-item tab-item-substance {
	padding: 10px 10px 10px 5px !important;
	border: none;
}

#tabbar tab-item:not(:hover) tab-closebox {
	margin-right: -26px;
}

#tabbar {
	padding: 0 10px 10px 10px;
	scrollbar-color: var(--bg-primary) transparent;
}

#tabbar-container {
	background: var(--bg-primary) !important;
}

tab-item .label {
	margin-right: 10px;
}

tab-item .counter {
	display: none !important;
}

tab-item .sound-button {
	margin-right: 0px;
}

tab-item tab-favicon {
	order: 10 !important;
	margin-right: 10px;
	margin-left: 10px;
	transition: margin-right var(--transition-duration) var(--transition-ease);
}

tab-item tab-closebox {
	transition: margin-right var(--transition-duration) var(--transition-ease);
	padding: var(--tab-closebox-offset) 0;
}

tab-item tab-closebox::before {
	border-radius: var(--roundness-tiny);
}

.newtab-button {
	padding: 12px !important;
}

.newtab-button::before {
	bottom: 2px !important;
	top: 2px !important;
	left: 0 !important;
	right: 0 !important;
	border-radius: var(--roundness-small) !important;
}

.newtab-button:hover::before {
	opacity: 1 !important;
	background: var(--bg-hover) !important;
}

.newtab-button:active::before {
	background: var(--bg-active) !important;
}

#tabbar + .after-tabs .newtab-button-box {
	padding: 0px 10px 10px 18px;
}
