@import "themes/catppuccin_mocha.css";
* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono Nerd Font;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: none;
  color: @text;
}

tooltip {
  background: @base;
  border-width: 2px;
  border-style: solid;
  border-color: @crust;
}

#workspaces {
  background: @base;
  border-radius: 20px;
  background: @base;
  border-radius: 10px;
  margin: 0 2px;
}

#workspaces button {
  padding: 0 10px;
  color: @subtext0;
}

#workspaces button.active {
  color: @lavender;
  background: @surface0;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @crust;
  background: @maroon;
  font-size: 16px;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @crust;
  color: @text;
  border-radius: 10px;
}

#clock,
#battery,
#pulseaudio,
#network,
#tray,
#backlight,
#cpu,
#memory,
#custom-launcher,
#custom-spotify,
#custom-power {
  background: @base;
  padding: 0 10px;
  border-radius: 10px;
  margin: 0 2px;
}

#memory {
  color: @flamingo;
}

#cpu {
  color: @sapphire;
}

#clock {
  color: @yellow;
}

#network {
  color: @peach;
}

#pulseaudio {
  color: @blue;
}

#battery {
  color: @green;
}

#custom-launcher {
  padding: 0 20px;
  padding-right: 25px;
  background: linear-gradient(to right, @red, @peach, @yellow);
}

#battery.ok:not(.charging) {
  color: @flamingo;
}

#battery.warning:not(.charging) {
  color: @red;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-spotify {
  padding: 0 20px;
}

#custom-power {
  color: @sapphire;
  padding: 0 20px;
  padding-right: 23px;
}

#backlight {
  color: @mauve;
}
