@import "theme.css";

* {
    font-family: 'FiraMono Nerd Font Propo', sans-serif;
    font-size: 14px;
    border-radius: 0;
}

window#waybar {
    background-color: @bg-dark;
    color: @fg;
    border: 1px solid @blue;
}

label.module {
    border: 1px solid @blue;
    padding: 0px 5px;
    margin: 4px;
}

@keyframes blink {
    from {
        color: @bg;
    }
    to {
        color: @red;
    }
}

#workspaces button label {
    font-family: 'FiraMono Nerd Font Mono', sans-serif;
}

#workspaces button {
    color: @fg;
}

#workspaces button.empty {
    color: @comment;
}

#workspaces button.visible {
    color: @yellow;
}

#workspaces button.active {
    color: @orange;
}

#workspaces button.urgent {
    color: @red;
}

#battery,
#pulseaudio.normal,
#backlight {
    color: @cyan;
}

#battery.warning:not(.charging),
#pulseaudio.input,
#idle_inhibitor {
    color: @orange;
}

#pulseaudio.critical,
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#pulseaudio.critical {
    animation-name: none;
}

#pulseaudio,
#pulseaudio.source-muted {
    color: @red;
}

#tray {
    margin-right: 9px;
}
